* {
    margin: 0;
    padding: 0;
}
.bg-container {
    background-color: #f5f7fa;
    height: 100vh;
}
.main-heading {
    font-family: "Roboto";
    font-size: 75px;
    color: #183b56;
    padding-top:50px;
    padding-left: 10px;
    font-weight: 700;
}
.container {
    background-color: #ffffff;
    margin: 10px;
    border-radius: 10px;
}
.card-heading {
    font-family: "Roboto";
    font-size: 56px;
    color: #183b56;
    padding-top: 0;
    padding-left: 0;
    font-weight: 700;
    
}